.jd_layout{
	min-width: 300px;
	max-width: 640px;
	margin:0 auto;
	position: relative;
}
.jd_layout .jd_header_box{
	width: 100%;
	height:40px;
	position: relative;
	/* position: fixed; */
	min-width: 300px;
	max-width: 640px;
	margin: 0 auto;
	/* z-index: 1000; */
	background:rgba(201,21,35,0);
}
.jd_layout .jd_header_box .icon-log{background-position: 0 -103px;position: absolute;width: 60px;height: 36px;top: 4px;left: 10px;}
.jd_layout .jd_header_box form{/* width: 100%; *//* height: 30px; */padding: 5px 50px 5px 80px;}
#jd_header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0px;
	z-index: 1000;
	/* min-width: 300px; */
	/* max-width: 640px; */
	/* width: 100%; */
}
.jd_layout .jd_header_box .icon-search{
	dispalay: inline-block;
	background-position: -60px -109px;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 84px;
	top: 12px;
	/* line-height: 40px; */
	/* padding-right: 10px; */
}
.jd_layout .jd_header_box form input{width: 100%;height: 30px;border-radius: 20px;/* line-height: 30px; */padding-left: 20px;padding-top: 5px;}
#banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#banner ul:first-child{
	width: 1000%;
	transform:translateX(-10%);
}
#banner ul li{
	float: left;
}
#banner ul:first-child li{
	width: 10%;
}
#banner ul:first-child li img{
width: 100%;
dispalay:block;
}
#banner ul:last-child{position: absolute;bottom: 7px;left: 50%;/* margin-left: -65px; */margin-left: -72px;}
#banner ul:last-child li{
	width: 8px;
	height: 8px;
	/* background-color: #fff; */
	border: 1px solid #fff;
	margin-right: 10px;
	border-radius: 10px;
}
#banner ul:last-child li.active{
	background-color: #fff;
}
#nav{width: 100%;height: 150px;border-bottom: 1px solid #c0c0c0;padding:0 3.123%;padding-top: 11px;}
#nav ul{

}
#nav ul li{
	float:left;
	width: 25%;
	height: 69px;
	text-align: center;
}
#nav ul>li img{
	dispalay:block;
	width: 40px;
	height: 40px;
}
#zsms{
	
border: 1px solid #d0d0d0;
	
margin-top: 10px;
}
#zsms .zsms-topbar{
	height: 32px;
	line-height: 32px;
}
#zsms .icon_clock{
	background:url("../images/seckill-icon.png");
	background-size:16px 20px;
	width: 16px;
	height: 20px;
	display:block;
	float: left;
	margin: 6px 6px 0px 5px;
} 
#zsms h4{
	float: left;
	color: #d8505c;
	font-size: 16px;
	font-weight: inherit;
	margin-right: 6px;
}
#zsms .ms-time{
	
float: left;
	
margin-top: 5px;
}
#zsms .ms-time span{
	float: left;
}
#zsms .ms-time .number{
	display:block;
	width: 14px;
	height: 14px;
	background-color: #000;
	margin: 4px 2px;
	color: #fff;
	text-align: center;
	line-height: 14px;
}
#zsms .ms-time .th{
	
height: 15px;
	
width: 4px;
	
margin-top: -5px;
	
margin-right: 2px;
	
margin-left: 2px;
	
font-size: 17px;
}
#zsms .more{
	
float: right;
	
padding-right: 13px;
}
.computerImg{
	width: 100%;
	height: 180px;
}
.computerImg li{
	width: 33.3333%;
	float: left;
}
.computerImg li .img_box{
	width: 100%;
	text-align: center;
	border-right: 1px solid #c0c0c0;
}
.computerImg li .img_box img{
	width: 64%;
	/* text-align: center; */
}
.computerImg li a span{
display:block;
text-align: center;
}
.computerImg li a span.now-price{
	color:#d8505c;
}
.computerImg li a span.previous-price{
	color: #a0a0a0;
	font-size: 12px;
	text-decoration: line-through;
}
#czg,#hot-activity{
	position: relative;
	margin-top: 10px;
	border: 1px solid #c0c0c0;
	/* margin-top: 10px; */
	/* width: 100%; */
	/* height: 389px; */
}
#czg h4,#hot-activity h4{padding-left: 20px;font-weight: inherit;border-bottom: 1px solid #c0c0c0;font-size: 16px;color: #666;line-height: 32px;}
#czg h4::before,#hot-activity h4::before{
	/* display: block; */
	content:" ";
	height: 15px;
	width: 3px;
	background-color: #d8505c;
	position: absolute;
	margin-left: 5px;
	top: 8px;
	left: 3px;
}
#czg .img-box{
	
width: 100%;
}
#czg .img-box a.img-left{width: 50%;float: left;border-right: 1px solid #c0c0c0;}
#czg .img-box a.img-right-1{float: right;width: 50%;border-bottom: 1px solid #c0c0c0;}
#czg .img-box a.img-right-2{
	
float: right;
	
width: 50%;
}

#czg .img-box img{
width: 100%;
}
 #hot-activity{
 	width: 100%;
 }
 #hot-activity  a.img-left{
	 display: block; 
	float:left;
	width: 50%;
}
 #hot-activity  a.img-right{
 	
float:right;
 	
width: 50%;
}
#hot-activity .img-box img{
width: 100%;
}